*,
:before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  /* Cyan */
  --cyan-100: #02968c;

  /* Gray */
  --gray-100: #f2f2f4;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container.action {
  position: absolute;
  left: 50%;
  top: 46%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.action__btn {
  all: unset;
  padding: 0.2rem 1.2rem;
  background-color: var(--cyan-100);
  border-color: var(--cyan-100);
  border-radius: 0.4rem;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}

.action__content {
  padding: 1.16rem 6rem;
  background-color: var(--gray-100);
  font-size: 1rem;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.action__btn:focus + .action__content {
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* personal footer */

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.5;
  text-align: center;
}

.platform,
.coder {
  font-weight: 600;
  text-decoration: none;
}

.platform {
  color: #2eca7f;
}

.coder {
  color: #cf2937;
}
