*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-family: 'Open Sans', sans-serif;
  --primary-color: #2196f3;
  --color-one: #3b5998;
  --color-two: #2196f3;
  --color-three: #db4437;
}

body {
  background-color: var(--primary-color);
}

.container {
  width: 18rem;
  border-radius: 0.3rem;
  background-color: white;
  padding: 1rem 1.8rem;
  margin: 2rem auto;
}

h2 {
  text-align: center;
  margin: 0;
}

form input {
  width: 100%;
}

form input:not(:last-child) {
  border-style: none;
  border-bottom: 1px solid #ddd;
  margin: 0.5rem 0;
  padding: 1rem 0;
}

form input[type='submit'] {
  padding: 0.7rem;
  background-color: var(--primary-color);
  color: white;
  border-style: none;
  border-radius: 0.2rem;
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

form + p {
  padding: 1rem 0;
  margin-top: 0;
  font-size: 0.7rem;
  text-align: center;
  color: #777;
  border-bottom: 1px dashed #ddd;
}

form + p a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

.container p:nth-of-type(2) {
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  color: #666;
}

ul.icons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

ul li {
  margin: 0 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 0.8rem;
  color: white;
  line-height: 2rem;
  text-align: center;
}

li.facebook {
  background-color: var(--color-one);
}

li.twitter {
  background-color: var(--color-two);
}

li.gmail {
  background-color: var(--color-three);
}
