*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --gray-100: #eee;
}

/* ---------- */
/* Main Style */
/* ---------- */

.container {
  max-width: 900px;
  min-width: 274px;
  margin: auto;
}

.editor {
  margin: 2rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--gray-100);
}

.editor__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.editor__font,
.editor__bold,
.editor__font-size--decrease,
.editor__editor__font-size---value,
.editor__font-size--increase,
.editor__invert {
  padding: 0.5rem 0.8rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  border-style: none;
  background-color: white;
  cursor: pointer;
  font-size: 1.3rem;
}

.editor__font-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

.editor__content {
  width: 100%;
  padding: 1rem;
  background-color: white;
  -webkit-filter: invert(0);
  filter: invert(0);
  font-size: 16px;
  line-height: 1.7;
}

/* --------------- */
/* Personal Footer */
/* --------------- */

.footer {
  min-width: 300px;
  margin: 2rem 1rem;
  font-family: 'Cairo', sans-serif;
  line-height: 1.5;
  text-align: center;
}

.platform {
  font-weight: 600;
  color: #2eca7f;
}

.coder {
  font-weight: 600;
  color: #cf2937;
}

a {
  text-decoration: none;
}
