*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --color-one: #1652f0;
  --color-two: #f2f6fe;
  --color-three: #efefef;
  --color-four: #eef2fe;
  --color-five: #869ab8;
  --color-six: #fe879b;
  --main-padding: 1rem;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.side-nav {
  position: fixed;
  height: 100vh;
  background-color: var(--color-one);
}

nav.side-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  top: 5rem;
}

nav.side-nav ul li {
  padding: 1.3rem;
}

nav.side-nav ul li a {
  color: white;
}

main {
  width: 100vw;
  margin-left: 3.7rem;
}

@media screen and (max-width: 750px) {
  body {
    flex-direction: column;
  }
  nav.side-nav {
    position: relative;
    display: block;
    height: auto;
    text-align: center;
  }
  nav.side-nav ul {
    position: initial;
  }
  nav.side-nav ul li {
    display: inline-block;
  }
  main {
    margin-left: 0;
  }
}

main header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 3rem;
  border-bottom: 1px solid var(--color-four);
}

main header .icon img {
  max-width: 100%;
}

main header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (min-width: 750px) {
  main header nav .balance {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 750px) {
  main header nav .balance {
    display: none;
  }
}

main header nav .balance p {
  display: inline-block;
  margin: 0;
  padding: 3px 1rem;
  color: #869ab8;
  font-size: 0.8rem;
  font-weight: 600;
}

main header nav .balance p:focus {
  background-color: var(--color-four);
  color: var(--color-one);
}

main header nav .balance p:first-child {
  border: 1px solid var(--color-three);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

main header nav .balance p:last-child {
  border: 1px solid var(--color-three);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

main header nav ul.drop-down-menu i:first-of-type {
  background-color: var(--color-one);
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 1.7rem;
}

main header nav ul.drop-down-menu a {
  font-size: 0.8rem;
  margin-left: 0.3rem;
  margin-right: 0.5rem;
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 575px) {
  main header nav ul.drop-down-menu a {
    display: none;
  }
}

main section {
  padding: 1rem 3rem;
}

main section > p {
  color: var(--color-one);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 3rem;
}

main section p span {
  color: var(--color-five);
  font-weight: 400;
}

main section .operation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width: 1100px) {
  main section .operation .operation-amount {
    width: 35%;
  }
  main section .operation .operation-details {
    width: 60%;
  }
}

@media screen and (max-width: 1100px) {
  main section .operation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  main section .operation .operation-amount {
    width: 100%;
  }
  main section .operation .operation-details {
    width: 100%;
  }
}

main section .operation .operation-amount .operation-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

main section .operation .operation-amount .operation-type button {
  width: 47%;
  padding: 0.8rem 1rem;
  background-color: white;
  border: 1px solid var(--color-four);
  border-radius: 0.25rem;
  color: var(--color-one);
  font-weight: bold;
}

main section .operation .operation-amount .operation-type button:focus {
  background-color: var(--color-one);
  color: white;
}
/*hide arrows from input number start*/
main section .operation input#amount::-webkit-outer-spin-button,
.operation input#amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* firefox */
main section .operation input[type='number'] {
  -moz-appearance: textfield;
}
/*hide arrows from input number end*/

main section .operation .operation-amount form label {
  display: block;
  margin: 1rem 0;
  font-size: 0.8rem;
  font-weight: bold;
}

main section .operation .operation-amount form select,
main section .operation .operation-amount form select + input {
  width: 49.5%;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-four);
  background-color: var(--color-two);
  color: #777;
}

main section .operation .operation-amount form select + input {
  margin-left: -5px;
}

@media screen and (max-width: 575px) {
  main section .operation .operation-amount form select,
  main section .operation .operation-amount form select + input {
    display: block;
    width: 100%;
  }
  main section .operation .operation-amount form select + input {
    margin: 0.5rem 0;
  }
}

main section .operation .operation-amount form .limit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 1rem;
  font-size: 0.8rem;
  color: #777;
}

main section .operation .operation-amount form input#exchange-button {
  width: 100%;
  padding: 0.8rem;
  border-color: transparent;
  border-radius: 0.2rem;
  background-color: #10d876;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

main section .operation .operation-amount form + p {
  color: #777;
  font-size: 0.8rem;
  margin-top: 4rem;
}

main section .operation .operation-details .buyer-seller-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 750px) {
  main section .operation .operation-details .buyer-seller-info .info a {
    display: none;
  }
}

main section .operation .operation-details .buyer-seller-info .info p {
  margin-bottom: 0;
  margin-top: 0.3rem;
}

main section .operation .operation-details .buyer-seller-info .info p:first-child {
  font-size: 0.9rem;
  font-weight: bold;
}

main section .operation .operation-details .buyer-seller-info .info a {
  color: var(--color-one);
  text-decoration: none;
}

main section .operation .operation-details .buyer-seller-info .buyer,
main section .operation .operation-details .buyer-seller-info .seller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section .operation .operation-details .buyer-seller-info .image img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

main section .operation ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 3rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-two);
  color: #777;
  margin: 1rem 0;
}

main section .operation ul li:first-child {
  color: var(--color-one);
  font-weight: bold;
}

main section .operation-info ul {
  padding: 0;
  margin: 0;
}

main section .operation .operation-details .buyer-seller-info .image {
  position: relative;
  top: 17%;
  margin-right: 1rem;
}

main section .operation .operation-details .operation-info ul li p {
  width: 35%;
}

main section .operation .operation-details .operation-info .tax {
  color: #fe879b;
}

input:focus {
  outline: none;
}

input[name='payment-method-details']::-webkit-input-placeholder {
  font-weight: lighter;
}

input[name='payment-method-details']::-moz-placeholder {
  font-weight: lighter;
}

input[name='payment-method-details']:-ms-input-placeholder {
  font-weight: lighter;
}

input[name='payment-method-details']::-ms-input-placeholder {
  font-weight: lighter;
}

input[name='payment-method-details']::placeholder {
  font-weight: lighter;
}

form,
form + p,
.operation-info,
.info .name,
.info a {
  font-size: 0.8rem;
}
