*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  /* Blue */
  --blue-100: #4285f4;

  /* Khaki */
  --khaki-100: #f4b400;

  /* Red */
  --red-100: #db4437;

  /* Teal */
  --teal-100: #0f9d58;
}

/* ---------- */
/* Main Style */
/* ---------- */
.container {
  width: 22rem;
  margin: auto;
  margin-top: 7rem;
  font-family: 'Cairo', sans-serif;
}

.wrapper {
  position: relative;
  top: -3rem;
  width: 19.8rem;
  height: 4.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  border-radius: 4rem;
}

.wrapper::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  -ms-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
  width: 30rem;
  height: 30rem;
  z-index: -1;
  border-radius: 3rem;
  background-image: conic-gradient(
    var(--teal-100) 0deg,
    var(--teal-100) 42deg,
    var(--red-100) 42deg,
    var(--red-100) 85deg,
    var(--blue-100) 85deg,
    var(--blue-100) 128deg,
    var(--khaki-100) 128deg,
    var(--khaki-100) 170deg,
    var(--teal-100) 170deg,
    var(--teal-100) 216deg,
    var(--red-100) 216deg,
    var(--red-100) 265deg,
    var(--blue-100) 265deg,
    var(--blue-100) 311deg,
    var(--khaki-100) 311deg,
    var(--khaki-100) 359deg,
    var(--teal-100) 320deg
  );
  -webkit-animation-name: loop;
  animation-name: loop;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

p.box {
  position: relative;
  top: 0rem;
  padding: 1.3rem 1.6rem;
  background-color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 3rem;
}

@keyframes loop {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }

  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* --------------- */
/* Personal Footer */
/* --------------- */

.personal-footer {
  width: 800px;
  margin: 3rem auto;
  font-family: 'Cairo', sans-serif;
  line-height: 1.5;
  text-align: center;
}
.platform {
  font-weight: 600;
  color: #2eca7f;
}

.coder {
  font-weight: 600;
  color: #cf2937;
}

a {
  text-decoration: none;
}
