*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin: 0;
  height: 70rem;
  background-color: #eee;
}

header {
  width: 1rem;
}

button.top {
  border-style: none;
}

button.top a {
  text-decoration: none;
}

button.top a {
  position: absolute;
  bottom: 5rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 15%;
  -webkit-box-shadow: 0 0 5px 2px #777;
  box-shadow: 0 0 5px 2px #777;
  background-color: red;
  color: white;
}

/* personal footer */

footer {
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.5;
  text-align: center;
}

.platform {
  font-weight: 600;
  color: #2eca7f;
}

.coder {
  font-weight: 600;
  color: #cf2937;
}

a {
  text-decoration: none;
}
