*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-family: 'Roboto', sans-serif;
  --color-one: #6ec6bc;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
}

.container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: center;
  font-weight: bold;
}

.image {
  position: relative;
  width: 14rem;
  margin: auto;
}

.image::before {
  content: '';
  position: absolute;
  width: 0;
  height: 99%;
  background-color: var(--color-one);
  opacity: 0.5;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.container:hover .image::before {
  width: 100%;
  -webkit-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.image img {
  max-width: 100%;
}

p {
  position: relative;
  width: 60%;
  background-color: white;
  margin: -2rem auto 0rem auto;
  padding: 0.5rem 2rem;
  -webkit-box-shadow: 0px 0 4px 1px grey;
  box-shadow: 0px 0 4px 1px grey;
  line-height: 1.5;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.container:hover p {
  width: 100%;
  -webkit-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

span {
  display: block;
  color: red;
}

/* personal footer */

footer {
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.5;
  text-align: center;
}

.platform {
  font-weight: 600;
  color: #2eca7f;
}

.coder {
  font-weight: 600;
  color: #cf2937;
}

a {
  text-decoration: none;
}
