*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  /* Vermilion */
  --vermilion-100: #fc5103;

  /* Gray */
  --gray-100: #fafafa;
  --gray-200: #f7f7f7;
}

/* ---------- */
/* Main Style */
/* ---------- */
.container {
  font-family: 'Open Sans', sans-serif;
}

/* --------------- */
/* Personal Footer */
/* --------------- */

.footer {
  min-width: 300px;
  margin: 2rem 1rem;
  font-family: 'Cairo', sans-serif;
  line-height: 1.5;
  text-align: center;
}

.platform {
  font-weight: 600;
  color: #2eca7f;
}

.coder {
  font-weight: 600;
  color: #cf2937;
}

a {
  text-decoration: none;
}
