*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --color-one: #05aaf4;
  --color-two: #b33939;
  --color-three: #227093;
  --color-four: #218c74;
  --color-five: #333;
  --background-color: #f6f6f6;
  --main-padding: 1rem;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background-color);
}

/* start components / Framework */
.container {
  max-width: 800px;
  margin: auto;
  padding: var(--main-padding);
}

/* end components / Framework */

/* start header  */
header {
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav span.logo {
  font-weight: bold;
}

nav ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav ul.menu li {
  padding-left: var(--main-padding);
}

header nav ul.menu li a {
  text-decoration: none;
  color: black;
}

/* end header  */
/* start service description*/
.services .container {
  display: flex;
  flex-wrap: wrap;
}

section.services-description h2 {
  text-align: center;
  font-size: 1.7rem;
}

section.services-description h2 span {
  color: var(--color-one);
}

section.services-description p {
  text-align: center;
}
/* end service description*/
/* start services items */
section.services {
  background-color: white;
}

.services .container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.services-item__info h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.services-item__info p {
  margin-top: 0.5rem;
  font-weight: 100;
  color: #88888e;
}

.services-item__image {
  width: 30%;
  margin: auto;
}

.services-item__image img {
  width: 100%;
}
/* end services items */
/* start about */
.about .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.about .about__image img {
  max-width: 100%;
}
/* end about */
/* start stats */
section.stats {
  background-color: white;
}

.stats .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.stats-item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 8rem;
  color: white;
}

.stats-item:first-child {
  background-color: var(--color-two);
}

.stats-item:nth-child(2) {
  background-color: var(--color-three);
}

.stats-item:last-child {
  background-color: var(--color-four);
}

.stats-item .stats-item__number {
  font-size: 4rem;
}

.stats-item span {
  display: block;
  text-align: center;
}
/* end stats */
/* start skills */
.skills .skills-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.skills .skills-item span {
  flex-basis: 7rem;
  padding-right: 1rem;
  font-weight: bold;
}

.skills-item p {
  background-color: white;
  height: 2rem;
  position: relative;
  width: 88%;
}

.skills-item p::before {
  content: '';
  position: absolute;
  background-color: var(--color-one);
  height: 2rem;
}

.skills-item p::after {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.skills-item:nth-child(1) p::before {
  width: 60%;
}

.skills-item:nth-child(1) p::after {
  content: '60%';
  right: calc((100% - 60%) + 0.5rem);
}

.skills-item:nth-child(2) p::before {
  width: 70%;
}

.skills-item:nth-child(2) p::after {
  content: '70%';
  right: calc((100% - 70%) + 0.5rem);
}

.skills-item:nth-child(3) p::before {
  width: 80%;
}

.skills-item:nth-child(3) p::after {
  content: '80%';
  right: calc((100% - 80%) + 0.5rem);
}

.skills-item:nth-child(4) p::before {
  width: 65%;
}

.skills-item:nth-child(4) p::after {
  content: '65%';
  right: calc((100% - 65%) + 0.5rem);
}

.skills-item:nth-child(5) p::before {
  width: 90%;
}

.skills-item:nth-child(5) p::after {
  content: '90%';
  right: calc((100% - 90%) + 0.5rem);
}
/* end skills */
/* start footer */
footer {
  background-color: var(--color-five);
  color: white;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

footer span {
  color: var(--color-one);
}
/* end footer */

@media screen and (min-width: 700px) {
  body {
    margin: 0;
  }

  .services .container {
    flex-wrap: nowrap;
  }

  .about .container {
    flex-wrap: nowrap;
    text-align: left;
  }

  .about__info {
    width: 50%;
  }

  .about__image {
    width: 45%;
  }

  .stats .container {
    flex-direction: row;
  }

  .stats-item {
    width: 32%;
  }

  footer .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
