*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --color-one: #05aaf4;
  --color-two: #b33939;
  --color-three: #227093;
  --color-four: #218c74;
  --color-five: #333;
  --background-color: #f6f6f6;
  --main-padding: 1rem;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background-color);
  margin: 0;
}

/* start components / Framework */
.container {
  width: 800px;
  margin: auto;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}

/* end components / Framework */

/* start header  */
header {
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav span.logo {
  font-weight: bold;
}

nav ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav ul.menu li {
  padding-left: var(--main-padding);
}

header nav ul.menu li a {
  text-decoration: none;
  color: black;
}

/* end header  */
/* start service description*/
section.services-description h2 {
  text-align: center;
}

section.services-description h2 span {
  color: var(--color-one);
}

section.services-description p {
  text-align: center;
}
/* end service description*/
/* start services items */
section.services-items {
  background-color: white;
}

section.services-items .services {
  display: flex;
  align-items: flex-end;
  text-align: center;
}

.services-items .service .info h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.services-items .service .info p {
  margin-top: 0.5rem;
  font-weight: 400;
  color: #88888e;
}
/* end services items */
/* start about */
section.about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.about .about-image {
  width: 45%;
}

section.about .about-image img {
  max-width: 100%;
}

section.about .about-info {
  width: 52%;
}
/* end about */
/* start stats */
section.stats {
  background-color: white;
}

section.stats .container {
  display: flex;
  justify-content: space-between;
}

section.stats p {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 32%;
  height: 8rem;
  color: white;
}

section.stats p:first-child {
  background-color: var(--color-two);
}

section.stats p:nth-child(2) {
  background-color: var(--color-three);
}

section.stats p:last-child {
  background-color: var(--color-four);
}

section.stats p .stats-number {
  font-size: 4rem;
}

section.stats p span {
  display: block;
  text-align: center;
}
/* end stats */
/* start skills */
.skills .skill {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.skills .skill span {
  font-weight: bold;
  padding-right: 1rem;
}

.skill p {
  background-color: white;
  height: 2rem;
  position: relative;
  width: 88%;
}

.skill p::before {
  content: '';
  position: absolute;
  background-color: var(--color-one);
  height: 2rem;
}

.skill p::after {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.skill:nth-child(1) p::before {
  width: 60%;
}

.skill:nth-child(1) p::after {
  content: '60%';
  right: calc((100% - 60%) + 0.5rem);
}

.skill:nth-child(2) p::before {
  width: 70%;
}

.skill:nth-child(2) p::after {
  content: '70%';
  right: calc((100% - 70%) + 0.5rem);
}

.skill:nth-child(3) p::before {
  width: 80%;
}

.skill:nth-child(3) p::after {
  content: '80%';
  right: calc((100% - 80%) + 0.5rem);
}

.skill:nth-child(4) p::before {
  width: 65%;
}

.skill:nth-child(4) p::after {
  content: '65%';
  right: calc((100% - 65%) + 0.5rem);
}

.skill:nth-child(5) p::before {
  width: 90%;
}

.skill:nth-child(5) p::after {
  content: '90%';
  right: calc((100% - 90%) + 0.5rem);
}
/* end skills */
/* start footer */
footer {
  background-color: var(--color-five);
  color: white;
}

footer .container {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

footer span {
  color: var(--color-one);
}
/* end footer */
