*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --color-one: #2196f3;
  --color-two: #f44336;
  --color-three: #119d90;
  --color-four: #e91f64;
  --background-color: #f6f6f6;
}

body {
  font-family: 'Cairo', sans-serif;
  background-color: var(--background-color);
  margin: 0;
}
/* Start Components */

/* End Components */

.offers {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
  width: 1080px;
  margin: auto;
}

ul.basic,
ul.professional {
  list-style: none;
  padding: 0;
  background-color: white;
  width: 48%;
}

ul li {
  position: relative;
  padding: 1rem;
  border-bottom: 0.1rem solid #eee;
}

ul li:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

ul.basic li:first-child {
  background-color: var(--color-two);
}

ul.professional li:first-child {
  background-color: var(--color-one);
}

ul li:not(:first-child) {
  padding-left: 3rem;
}

li {
  position: relative;
}

.icon.true,
.icon.false {
  width: 1.15rem;
  height: 1.15rem;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 1.4rem;
  transform: translateY(-50%);
}

.icon.true {
  background-color: var(--color-three);
}

.icon.false {
  background-color: var(--color-four);
}

.true::before,
.false::after,
.false::before,
.false::after {
  content: '';
  position: absolute;
  display: block;
  width: 0.3rem;
  background-color: white;
}

.true::before {
  left: -105%;
  top: 1.849rem;
  height: 1rem;
  transform: rotateZ(45deg) translateY(-40px) scale(0.5);
}

.true::after {
  left: -0.6rem;
  top: 1.9rem;
  height: 0.65rem;
  transform: rotateZ(-45deg) scale(0.5) translate(55px, -14px);
}

.false::before {
  height: 1.15rem;
  left: 38%;
  top: -17px;
  transform: rotateZ(45deg) scale(0.5) translate(25px, 25px);
}

.false::after {
  height: 1.15rem;
  left: -57%;
  top: 0.7px;
  transform: rotateZ(-45deg) scale(0.5) translate(25px, 25px);
}

ul.professional li:nth-child(13)::before {
  content: '?';
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #777;
  color: white;
  line-height: 1.5rem;
  font-weight: bold;
  text-align: center;
}

ul.professional li:first-child::before {
  content: 'Save 50%';
  position: absolute;
  width: 8rem;
  line-height: 3rem;
  height: 3rem;
  text-align: center;
  top: -4rem;
  right: 2rem;
  background-color: var(--color-one);
}

ul.professional li:first-child::after {
  content: '';
  position: absolute;
  border: 1.5rem solid;
  border-left: 0.5rem solid;
  border-color: var(--color-one) transparent var(--color-one) var(--color-one);
  top: -4rem;
  right: 0;
}
