*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --color-one: #2196f3;
  --color-two: #f44336;
  --color-three: #119d90;
  --color-four: #e91f64;
  --background-color: #f6f6f6;
}

body {
  font-family: 'Cairo', sans-serif;
  background-color: var(--background-color);
  margin: 0;
}

ul li {
  list-style: none;
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 5rem auto;
}

.offers-basic,
.offers-professional {
  width: 26rem;
  margin: 1rem;
  padding: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: white;
}

.offers-professional {
  margin-top: 5rem;
}

ul li {
  position: relative;
  padding: 1rem;
  border-bottom: 0.1rem solid #eee;
}

ul li:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

.offers-basic li:first-child {
  background-color: var(--color-two);
}

.offers-professional li:first-child {
  background-color: var(--color-one);
}

ul li:not(:first-child) {
  padding-left: 3rem;
}

li {
  position: relative;
}

.icon.true,
.icon.false {
  width: 1.15rem;
  height: 1.15rem;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 1.4rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon.true {
  background-color: var(--color-three);
}

.icon.false {
  background-color: var(--color-four);
}

.true::before,
.true::after,
.false::before,
.false::after {
  content: '';
  position: absolute;
  display: block;
  width: 0.3rem;
  background-color: white;
}

.true::before {
  left: -105%;
  top: 1.849rem;
  height: 1rem;
  -webkit-transform: rotateZ(45deg) translateY(-40px) scale(0.5);
  -ms-transform: rotate(45deg) translateY(-40px) scale(0.5);
  transform: rotateZ(45deg) translateY(-40px) scale(0.5);
}

.true::after {
  left: -0.6rem;
  top: 1.9rem;
  height: 0.65rem;
  -webkit-transform: rotateZ(-45deg) scale(0.5) translate(55px, -14px);
  -ms-transform: rotate(-45deg) scale(0.5) translate(55px, -14px);
  transform: rotateZ(-45deg) scale(0.5) translate(55px, -14px);
}

.false::before {
  height: 1.15rem;
  left: calc(50% - 0.15rem);
  top: 0;
  -webkit-transform: rotateZ(-45deg) scale(0.5);
  -ms-transform: rotate(-45deg) scale(0.5);
  transform: rotateZ(-45deg) scale(0.5);
}

.false::after {
  height: 1.15rem;
  left: calc(50% - 0.15rem);
  top: 0;
  -webkit-transform: rotateZ(45deg) scale(0.5);
  -ms-transform: rotate(45deg) scale(0.5);
  transform: rotateZ(45deg) scale(0.5);
}

.offers-professional li:nth-child(13)::before {
  content: '?';
  position: absolute;
  top: 50%;
  right: 1rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #777;
  color: white;
  line-height: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.offers-professional li:first-child::before {
  content: 'Save 50%';
  position: absolute;
  width: 7rem;
  line-height: 3rem;
  height: 3rem;
  text-align: center;
  top: -4rem;
  right: 2rem;
  background-color: var(--color-one);
}

.offers-professional li:first-child::after {
  content: '';
  position: absolute;
  border: 1.5rem solid;
  border-left: 0.5rem solid;
  border-color: var(--color-one) transparent var(--color-one) var(--color-one);
  top: -4rem;
  right: 0;
}

@media screen and (min-width: 650px) {
  .offers {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .offers-professional {
    margin-top: 1rem;
  }
}

/* personal footer */

footer {
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.5;
  text-align: center;
}

.platform {
  font-weight: 600;
  color: #2eca7f;
}

.coder {
  font-weight: 600;
  color: #cf2937;
}

a {
  text-decoration: none;
}
