*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --color-one: red;
  --color-two: black;
  --background-color: #f6f6f6;
}

body {
  font-family: 'Cairo', sans-serif;
  background-color: var(--background-color);
  margin: 0;
}
/* Start Components */

/* End Components */

span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: 5rem;
  padding: 1rem;
  background-color: var(--color-one);
  color: white;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

span::after {
  content: '';
  border: 1rem solid;
  border-color: var(--color-two) transparent transparent transparent;
  position: absolute;
  top: -2rem;
  visibility: hidden;
  opacity: 0;
}

span::before {
  content: 'this Is Tooltip Content';
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 21rem;
  height: 4rem;
  background-color: var(--color-two);
  transition-duration: 0s;
  opacity: 0;
  visibility: hidden;
}

span:hover::before,
span:hover::after {
  transition-duration: 1s;
  opacity: 1;
  visibility: visible;
}
