*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-family: 'Dosis', sans-serif;
}

body {
  --color-one: #ffeb00;
  --color-two: #515961;
}

.container {
  position: relative;
  width: 48rem;
  height: 20rem;
  margin: auto;
  background-image: url(images/andres-garcia-duzqs13jvGc-unsplash.webp);
  background-size: cover;
}

.container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-two);
  opacity: 0.5;
}

.icons {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
}

span.phone {
  width: 6rem;
  height: 6rem;
  margin-right: -2rem;
  background-color: var(--color-two);
  color: white;
  font-size: 2rem;
  z-index: 1;
}

span.pc {
  width: 9rem;
  height: 9rem;
  margin-right: -2rem;
  background-color: var(--color-one);
  color: var(--color-two);
  font-size: 3rem;
}

span.settings {
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 7.5rem;
  height: 7.5rem;
  margin-right: -3rem;
  margin-top: 3rem;
  background-color: var(--color-two);
  color: white;
  font-size: 2rem;
  z-index: -1;
}

span.idea {
  height: 8rem;
  width: 8rem;
  background-color: var(--color-one);
  color: var(--color-two);
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-size: 3rem;
}

span.phone::before {
  content: 'Retina Ready';
  position: absolute;
  top: -1rem;
  left: 5.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--color-two);
  color: white;
}

span.pc::before {
  content: 'Responsive Template';
  position: absolute;
  top: 1.3rem;
  left: 5.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: white;
  color: var(--color-two);
  z-index: 3;
}

span.settings::before {
  content: 'Unique Design';
  position: absolute;
  bottom: 1.8rem;
  right: 6rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--color-one);
  color: var(--color-two);
}

span.idea::before {
  content: 'Easy To Customize';
  position: absolute;
  bottom: 4rem;
  right: 6rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: white;
  color: var(--color-two);
}

/* start footer style */
footer {
  min-width: 48rem;
  height: 4rem;
  line-height: 2rem;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #FFD447;
  text-align: center;
  font-size: 1.2rem;
}

.footer-name {
  text-decoration: none;
  color: black;
}

.footer-name:before,.footer-name:after {
  content: "❤";
  color: #850021;
}
/* end footer style */