*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --color-one: #ed4c21;
  --color-two: #122333;
  --main-padding: 1rem;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: auto;
  max-width: 1000px;
  padding: var(--main-padding);
}

.orange-line::before {
  content: '';
  position: absolute;
  bottom: -1rem;
  width: 3.5rem;
  height: 0.2rem;
  background-color: var(--color-one);
}

.header__banner {
  position: relative;
  border-radius: 0.4rem;
  overflow: hidden;
  display: none;
}

.header__banner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-one);
  opacity: 0.7;
  z-index: 1;
}

.header__banner img {
  max-width: 100%;
}

.header__info {
  top: -16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 1rem;
  word-wrap: break-word;
  z-index: 2;
}

.header__info .register {
  min-width: 45%;
  padding: 2rem 2rem;
  background-color: var(--color-two);
  color: white;
}

.header__info .register h2 {
  position: relative;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
}

.header__info .register ul {
  list-style: none;
  margin: 2rem 0;
  padding: 0;
}

.header__info .register li {
  font-size: 1.6rem;
  line-height: 2.4;
}

.header__info .register li span.check {
  color: #77a93d;
  padding-right: var(--main-padding);
}

.header__info button,
footer button {
  width: 15rem;
  height: 4rem;
  border: none;
  border-radius: 0.2rem;
  background-color: var(--color-one);
}

.header__info button a,
footer button a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

.header .header__info p.details {
  padding: var(--main-padding);
  border: 0.2rem solid var(--color-one);
  line-height: 2;
  font-size: 1.3rem;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  counter-reset: counter;
}

.services-item {
  margin-top: 2rem;
  padding: 3rem 2rem 3rem;
  background-color: #f2f8fa;
  counter-increment: num;
}

.services-item::before {
  content: '0' counter(num);
  color: var(--color-one);
  font-size: 2.5rem;
}

.services-item__title {
  font-size: 2rem;
  text-transform: uppercase;
}

.services-item__description {
  font-size: 1.2rem;
  line-height: 2;
}

.services-item__action {
  text-decoration: none;
  color: var(--color-one);
  font-size: 1.4rem;
}

footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 27rem;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 0.4rem;
  background-image: url(images/denys-nevozhai-7nrsVjvALnA-unsplash.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

footer .info {
  position: relative;
  color: white;
  line-height: 2;
  z-index: 3;
}

footer h3 {
  position: relative;
  margin-top: 0;
  font-size: 2rem;
  font-weight: 400;
}

footer p {
  font-size: 1.3rem;
}

footer .image {
  width: 44%;
  z-index: 1;
  display: none;
}

footer img {
  max-width: 100%;
}

footer span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  background-color: var(--color-two);
  opacity: 0.7;
}

@media screen and (min-width: 992px) {
  .header {
    height: 44rem;
  }

  .header__banner {
    display: block;
  }

  .header__info {
    position: relative;
    top: -22rem;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .header .header__info p.details {
    width: 47%;
  }

  .services {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .services-item {
    width: 30%;
  }

  footer .image {
    display: block;
  }

  footer .info {
    width: 50%;
  }
}

/* personal footer */

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.5;
  text-align: center;
}

.platform {
  font-weight: 600;
  color: #2eca7f;
}

.coder {
  font-weight: 600;
  color: #cf2937;
}

a {
  text-decoration: none;
}
