*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --color-one: #f88992;
  --color-two: #f56082;
  --color-three: #f23848;
  --main-padding: 6rem;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background-color);
  margin: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 875px;
  margin: auto;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  padding-right: 3rem;
  padding-left: 3rem;
}

.about__image {
  position: relative;
  left: -1.5rem;
  max-width: 22rem;
  margin-bottom: 3rem;
}

.about__image::before {
  content: '';
  position: absolute;
  top: -2.5rem;
  left: 3rem;
  width: 100%;
  height: calc(100% + 5rem);
  border: 1rem solid var(--color-one);
  z-index: -1;
}

.about__image img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.about-info__welcome-message {
  text-transform: capitalize;
}

.about-info {
  max-width: 22rem;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .service img {
  max-width: 100%;
}

.about-info__title {
  position: relative;
  padding-left: 4rem;
  color: var(--color-two);
  font-weight: 600;
}

.about-info__title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0.5rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 2.5rem;
  height: 0.15rem;
  background-color: var(--color-two);
}

.about-info__title::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  border: 0.2rem solid var(--color-two);
}

.about-info__description {
  color: #777;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 2;
}

.about-info-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-info-services__service {
  counter-increment: num1;
  position: relative;
  width: 7rem;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 0.1rem solid #ddd;
  text-align: center;
}

.about-info-services__service::before {
  content: '';
  position: absolute;
  top: -0.7rem;
  right: -0.7rem;
  -webkit-transform: rotateZ(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotateZ(-45deg);
  border: 0.8rem solid;
  border-color: transparent transparent transparent var(--color-three);
}

.about-info-services__service::after {
  content: '0' counter(num1);
  position: absolute;
  top: 2rem;
  font-weight: bold;
  font-size: 2.3rem;
  color: #efefef;
  z-index: -1;
}

.about-info-services__service .icon {
  width: 45%;
  margin: auto;
}

.about-info-services__service .icon img {
  max-width: 100%;
}

.about-info-services__service .icon + p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 700;
}

/* start footer style */
footer {
  width: 100%;
  height: 4rem;
  line-height: 2rem;
  padding: 1rem;
  background-color: #ffd447;
  text-align: center;
  font-size: 1.2rem;
  position: absolute;
  bottom: 0;
}

.footer-name {
  text-decoration: none;
  color: black;
}

.footer-name:before,
.footer-name:after {
  content: '❤';
  color: #850021;
}
/* end footer style */

@media screen and (min-width: 450px) {
  .about-info-services {
    flex-direction: row;
  }

  .about-info-services__service {
    margin-top: 0;
  }
}

@media screen and (min-width: 800px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
