*,
:before,
::after {
  box-sizing: border-box;
}

:root {
  --color-one: #f2f2f2;
  --color-two: #f3cd1e;
  --color-three: #81827f;
  --color-four: #e73d10;
  --color-gray: #aab2bd;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-camel: #c19a6b;
  --color-orange: #f39c11;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
  margin: 0;
}

.small-box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -1.5rem;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  box-shadow: 3px 3px 4px 1px #ddd;
}

.bg-gray::before {
  background-color: var(--color-gray);
}

.bg-white::before {
  background-color: var(--color-white);
}

.bg-black::before {
  background-color: var(--color-black);
}

.bg-camel::before {
  background-color: var(--color-camel);
}

.bg-orange::before {
  background-color: var(--color-orange);
}

header nav ul {
  list-style: none;
  display: inline-block;
  padding: 0;
}

section.page {
  display: flex;
  justify-content: space-between;
}

main .result-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--color-one);
}

.result-bar .filter {
  display: flex;
}

.filter .show {
  margin-right: 1rem;
}

.items .item {
  display: flex;
  align-items: center;
}

.item .information {
  margin: 1rem;
}

.information .rating {
  color: var(--color-two);
}

.item .information h4 {
  margin: 0.5rem 0;
}

.information span.availability {
  font-size: 0.9rem;
  color: var(--color-three);
  font-weight: 500;
  display: block;
}

.information span.previous-price {
  margin-right: 0.5rem;
  color: var(--color-three);
  text-decoration: line-through;
  font-weight: bold;
  font-size: 0.9rem;
}

.information span.actual-price {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--color-four);
}

.information p.description {
  color: var(--color-three);
}

.information ul.links {
  display: flex;
  margin: 0;
  padding: 0;
  width: fit-content;
  list-style: none;
  color: var(--color-three);
  box-shadow: 0px 0px 2px 0px var(--color-gray);
}

ul.links li {
  padding: 0.3rem 0.55rem;
}

ul.links li:not(:last-child) {
  border-right: 0.5px solid var(--color-one);
}

.container {
  max-width: 85rem;
  margin: auto;
}

main {
  flex-basis: 64%;
}

aside {
  flex-basis: 28%;
}

aside h4 {
    text-transform: uppercase;
    position: relative;
}

aside h4::before {
    content: "";
    position: absolute;
    bottom: -7px;
    width: 2.5rem;
    height: 2px;
    background-color: red;
}

section.clothes, section.color {
    border: 1px solid var(--color-one);
    padding: 1rem;
}

section.clothes {
  margin-bottom: 2rem;
}

section.clothes > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

section.clothes > ul ul {
    padding: 0 1rem;
}

.right {
  display: flex;
  align-items: center;
}

.right i {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 50%;
  color: white;
  text-align: center;
}

.right i:nth-child(2) {
  background-color: black;
}

.right i:nth-child(2) {
  background-color: var(--color-gray);
}

.colors {
    display: flex;
    flex-direction: column;
}

.colors span {
  position: relative;
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
}

.right {
  display: flex;
  align-items: center;
}

.right i {  
  color: white;
  padding: 0.5rem;
  border-radius: 50%;
}

span.gray {
  position: relative;
}

ul {
    list-style: none;
}