*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-family: 'MontserratRegular', sans-serif;
  --color-one: #2779B0;
  --color-two: #587D2B;
  --color-three: #8e44ad;
  --color-four: #f3f6f9;
  --color-five: #b2b1b1;
  --color-six: #0F3A57
  --color-seven: #6c6d6e;
}

body {
  background-color: var(--color-four);
}

.container {
  margin: auto;
  background-color: var(--color-four);
}

header {
  padding: 2rem 0;
  text-align: center;
}

h1 {
  position: relative;
  margin-top: 0;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

h1::before {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 4.5rem;
  height: 0.15rem;
  background-color: var(--color-one);
}

header p {
  padding: 0 1rem;
  color: var(--color-seven);
  line-height: 1.8;
}

main {
  display: flex;
  justify-content: flex-end;
}

.offers {
  width: 93%;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 0.15rem solid var(--color-four);
  background-color: white;
}

.offer:first-child {
  position: relative;
}

.offer:first-child::before {
  content: 'Featured';
  position: absolute;
  top: 3rem;
  left: -6.02rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotateZ(270deg);
  -ms-transform: rotate(270deg);
  transform: rotateZ(270deg);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 9rem;
  height: 3rem;
  border-top: 0.3rem solid var(--color-one);
  background-color: white;
  font-weight: bold;
}

.image {
  width: 9rem;
}

.image img {
  max-width: 100%;
  border: 0.3rem solid var(--color-four);
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 0 0px 1px #eee;
  box-shadow: 0 0 0px 2px #eee;
}

span.job-type {
  padding: 0.2rem 1rem;
  border-radius: 0.2rem;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
}

span.job-type.freelance {
  background-color: var(--color-two);
}

span.job-type.part-time {
  background-color: var(--color-one);
}

span.job-type.full-time {
  background-color: var(--color-three);
}

span.job-type.partnership {
  background-color: var(--color-six);
}

h2.offer-title {
  margin: 0.9rem 0px 0.7rem;
  line-height: 1.5;
  font-size: 1.17em;
}

span.publisher,
span.field,
span.date {
  font-size: 0.8rem;
  margin-right: 0.3rem;
}

span.publisher::before {
  content: 'Publisher : ';
}

span.field::before {
  content: 'in : ';
}

span.date::before {
  content: 'Date : ';
}

span.publisher::before,
span.field::before,
span.date::before {
  color: var(--color-five);
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -ms-flex-preferred-size: 9rem;
  flex-basis: 9rem;
}

span.city {
  font-family: 'MontserratBold', sans-serif;
  font-size: 1rem;
}

span.country {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

span.price {
  font-weight: bold;
}

button {
  font-family: 'MontserratLight', sans-serif;
  border-style: none;
  width: 9rem;
  margin-top: 0.5rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
  background-color: var(--color-one);
  color: white;
  cursor: pointer;
}

button.more {
  position: relative;
  left: calc(50% + 1.5rem);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 11rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  font-weight: bold;
}

@font-face {
  font-family: 'MontserratRegular';
  src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'MontserratBold';
  src: url(fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: 'MontserratLight';
  src: url(fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: 'MontserratMedium';
  src: url(fonts/Montserrat-Medium.ttf);
}

@media screen and (max-width: 768px) {
  .container {
    width: 300px;
  }
  .offer {
    position: relative;
    flex-direction: column;
    justify-content: center;
  }
  .image {
    margin-top: 3rem;
    width: 75%;
  }
  .basic-info {
    text-align: center;
  }
  .basic-info .job-type {
    position: absolute;
    top: 1.6rem;
    left: 23%;
    transform: translateX(-50%);
  }
  .basic-info .info span::before {
    display: none;
  }
  .location {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    flex-basis: auto;
    align-items: center;
    position: absolute;
    top: 0.5rem;
    right: 7%;
  }
  .action {
    position: relative;
    top: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 740px;
  }
  .offer {
    flex-wrap: wrap;
  }
  .offer .image {
    order: 1;
    flex-basis: 17rem;
  }
  .basic-info {
    order: 2;
    flex-basis: 18rem;
    flex-grow: 0.5;
  }
  .basic-info .info span {
    display: block;
    padding-bottom: 0.4rem;
  }
  .basic-info .info span::before {
    display: contents;
  }
  .location {
    display: none;
  }
  .action {
    position: relative;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    order: 3;
  }
  button {
    width: 6rem;
    padding: 0.7rem;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
  .offer {
    flex-wrap: nowrap;
  }
  .offer .image {
    flex-basis: auto;
  }
  .basic-info {
    flex-basis: 17rem;
    padding-left: 1rem;
  }
  .basic-info .info span {
    display: block;
    padding-bottom: 0.4rem;
  }
  .location {
    display: flex;
    order: 3;
  }
  .action {
    position: initial;
    order: 4;
  }
  button {
    width: 9rem;
    padding: 0.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .offer {
    flex-wrap: nowrap;
  }
  .offer .image {
    flex-basis: auto;
  }
  .basic-info {
    flex-basis: 17rem;
    padding-left: 0;
  }
  .basic-info .info {
    display: flex;
  }
  .location {
    display: flex;
    order: 3;
  }
  .action {
    position: initial;
    order: 4;
  }
  button {
    width: 9rem;
    padding: 0.2rem;
  }
}
