*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-family: 'MontserratRegular', sans-serif;
  --color-one: #2779b0;
  --color-two: #587d2b;
  --color-three: #8e44ad;
  --color-four: #f3f6f9;
  --color-five: #b2b1b1;
  --color-six: #0f3a57;
  --color-seven: #6c6d6e;
}

body {
  background-color: var(--color-four);
}

.container {
  margin: auto;
  background-color: var(--color-four);
  text-align: center;
}

header {
  padding: 2rem 0;
  text-align: center;
}

h1 {
  position: relative;
  margin-top: 0;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

h1::before {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 4.5rem;
  height: 0.15rem;
  background-color: var(--color-one);
}

header p {
  padding: 0 1rem;
  color: var(--color-seven);
  line-height: 1.8;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.offers {
  width: 93%;
  margin: auto;
  padding: 0;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 0.15rem solid var(--color-four);
  background-color: white;
  list-style: none;
}

.offer:first-child {
  position: relative;
}

.offer:first-child::before {
  content: 'Featured';
  position: absolute;
  top: -3rem;
  left: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 9rem;
  height: 3rem;
  border-top: 0.3rem solid var(--color-one);
  background-color: white;
  font-weight: bold;
}

.image img {
  border: 0.3rem solid var(--color-four);
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 0 0px 1px #eee;
  box-shadow: 0 0 0px 2px #eee;
}

span.job-type {
  padding: 0.2rem 1rem;
  border-radius: 0.2rem;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
}

span.job-type.freelance {
  background-color: var(--color-two);
}

span.job-type.part-time {
  background-color: var(--color-one);
}

span.job-type.full-time {
  background-color: var(--color-three);
}

span.job-type.partnership {
  background-color: var(--color-six);
}

h2.offer-title {
  margin: 0.9rem 0px 0.7rem;
  line-height: 1.5;
  font-size: 1.17em;
}

span.publisher,
span.field,
span.date {
  font-size: 0.8rem;
  margin-right: 0.3rem;
}

span.publisher::before {
  content: 'Publisher : ';
}

span.field::before {
  content: 'in : ';
}

span.date::before {
  content: 'Date : ';
}

span.publisher::before,
span.field::before,
span.date::before {
  color: var(--color-five);
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -ms-flex-preferred-size: 9rem;
  flex-basis: 7rem;
}

span.city {
  font-family: 'MontserratBold', sans-serif;
  font-size: 1rem;
}

span.country {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

span.price {
  font-weight: bold;
}

button {
  font-family: 'MontserratLight', sans-serif;
  border-style: none;
  width: 9rem;
  margin-top: 0.5rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
  background-color: var(--color-one);
  color: white;
  cursor: pointer;
}

button.more {
  width: 11rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 300px;
  }
  .offer {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .offer:first-child::before {
    top: -3rem;
    left: 2.2rem;
    top: -3rem;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
  }
  .image {
    margin-top: 3rem;
  }
  .offer .image img {
    width: 13rem;
  }
  .basic-info {
    text-align: center;
  }
  .basic-info .job-type {
    position: absolute;
    top: 1.6rem;
    left: 23%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .basic-info .info span::before {
    display: none;
  }
  .location {
    position: absolute;
    top: 0.5rem;
    right: 7%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .action {
    position: relative;
    top: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 740px;
  }
  .offer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .offer:first-child::before {
    top: 3rem;
    left: -6.02rem;
    -webkit-transform: rotateZ(270deg);
    -ms-transform: rotate(270deg);
    transform: rotateZ(270deg);
  }
  .offer .image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .offer .image img {
    height: auto;
    width: 17rem;
  }
  .basic-info {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -ms-flex-preferred-size: 18rem;
    flex-basis: 18rem;
    -webkit-box-flex: 0.5;
    -ms-flex-positive: 0.5;
    flex-grow: 0.5;
  }
  .basic-info .info span {
    display: block;
    padding-bottom: 0.4rem;
  }
  .basic-info .info span::before {
    display: inline;
  }
  .location {
    display: none;
  }
  .action {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    position: relative;
    top: 1rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  button {
    width: 6rem;
    padding: 0.7rem;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
  .offer {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .offer .image {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .offer .image img {
    width: 13rem;
  }
  .basic-info {
    -ms-flex-preferred-size: 17rem;
    flex-basis: 17rem;
    padding-left: 1rem;
  }
  .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .action {
    position: initial;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    left: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  button {
    width: 9rem;
    padding: 0.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .basic-info {
    padding-left: 0;
  }
  .basic-info .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* start footer style */
footer {
  width: 100%;
  line-height: 2rem;
  padding: 1rem;
  background-color: #ffd447;
  text-align: center;
  font-size: 1.2rem;
}

.footer-name {
  text-decoration: none;
  color: black;
}

.footer-name:before,
.footer-name:after {
  content: '❤';
  color: #850021;
}
/* end footer style */
