*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --color-one: #009688;
  --color-two: #f6f6f6;
}

body {
  font-family: 'Cairo', sans-serif;
  background-color: var(--background-color);
  margin: 0;
}

.container {
  margin: 1rem;
}

form {
  max-width: 46rem;
  margin: 10rem auto;
  padding: 2rem;
  background-color: var(--color-two);
}

form div {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

span {
  color: red;
}

input,
textarea {
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 0.05rem 0 0 #ddd;
  box-shadow: 0 0.05rem 0 0 #ddd;
}

input {
  width: 100%;
  height: 2.5rem;
  border-style: none;
}

textarea {
  width: 100%;
  height: 129px;
  border-style: none;
}

div:nth-child(4) {
  grid-row: span 2;
}

input[type='submit'] {
  grid-column: span 2;
  background-color: var(--color-one);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

input::-webkit-input-placeholder {
  padding-left: 0.8rem;
  font-size: 0.9rem;
}

input::-moz-placeholder {
  padding-left: 0.8rem;
  font-size: 0.9rem;
}

input:-ms-input-placeholder {
  padding-left: 0.8rem;
  font-size: 0.9rem;
}

input::-ms-input-placeholder {
  padding-left: 0.8rem;
  font-size: 0.9rem;
}

input::placeholder {
  padding-left: 0.8rem;
  font-size: 0.9rem;
}

div:nth-child(1) {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

div:nth-child(2) {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

div:nth-child(3) {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
}

div:nth-child(4) {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
}

div:nth-child(5) {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

div:nth-child(5) + input {
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  order: 6;
}

@media screen and (min-width: 600px) {
  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

/* personal footer */

footer {
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.5;
  text-align: center;
}

.platform,
.coder {
  font-weight: 600;
  text-decoration: none;
}

.platform {
  color: #2eca7f;
}

.coder {
  color: #cf2937;
}
