*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #eee;
}

.box {
  position: relative;
  top: 50vh;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
  width: 28rem;
  margin: auto;
  padding: 2rem;
  border-radius: 2%;
  background-color: white;
  -webkit-box-shadow: 0 0 5px 3px #ddd;
  box-shadow: 0 0 5px 3px #ddd;
  text-align: center;
}

.image {
  position: absolute;
  top: -31%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

h2 {
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
  color: #3b74ba;
  font-size: 1.8rem;
  letter-spacing: -0.1rem;
}

p {
  margin-top: 0.7rem;
  color: #777;
  font-weight: 100;
}

hr {
  height: 0.1rem;
  border-style: none;
  background-color: #ddd;
}

ul {
  margin: 0;
  margin-top: 1.3rem;
  padding: 0;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 0.3rem;
  padding: 1rem;
  background-color: #f6f6f6;
}

span.mark {
  position: absolute;
  right: 3%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  padding: 0.5rem;
  border-radius: 12%;
  background-color: steelblue;
  color: white;
  font-weight: bold;
}
