*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  /* Lime */
  --lime-100: #77af12;
  --lime-200: #679710;

  /* Gray */
  --gray-100: #f7f7f7;
  --gray-200: #f0f0ed;
  --gray-300: #999999;

  /* Blue */
  --blue-100: #e4ecf1;

  /* Bluish cyan */
  --bluishCyan-100: #2f9bc1;

  /* Scarlet */
  --scarlet-100: #c12f6c;
}

body {
  background-color: var(--gray-200);
}

/* ---------- */
/* Main Style */
/* ---------- */

/* --------------- */
/* Personal Footer */
/* --------------- */

.personal-footer {
  width: 800px;
  margin: 3rem auto;
  font-family: 'Cairo', sans-serif;
  line-height: 1.5;
  text-align: center;
}
.platform {
  font-weight: 600;
  color: #2eca7f;
}

.coder {
  font-weight: 600;
  color: #cf2937;
}

a {
  text-decoration: none;
}
